{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
	<!-- Include the following line to Display Content right below the nav bar -->
	<style type="text/css"> body {padding-top: 60px;} </style>
	<title> {% block title %} Django 1.8 Auth Base Page {% endblock %} </title>
</head>
<body>
	{% block navbar%}
		{% include "navbar.html" %}
	{% endblock%}

	{% block content1 %}
	{% endblock %}
</body>
<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
{% block scripts %} {% endblock %}
</html>