<h1 class="text-center">Hello <strong class="text-danger">{{ user.username }}</strong> you are currently logged in.</h1>

<h3 class="text center"> And you ou are in the following Groups:</h3>
{% for group in user.groups.all %}
<p class="text-center"> {{group.name}} </p>
    {% if group.name == 'customers' %}
    	<br>
    	<h2 class="text-center">And the good News is that you are in Group: {{group.name}}</h2>
        {% comment %}Customer-specific code goes here{% endcomment %}
    {% endif %}
{% endfor %}
